<!-- author: King -->

<html>
    <title>
    	{{ title }}
    </title>
    <head>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <script src="{% static 'Common/jquery-1.4.min.js' %}"></script>
        <script src="{% static 'Javascript/URTracker_SVN.js' %}"></script>
        <link href="/static/CSS/URTracker_SVN.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <p>每30秒页面自动刷新&nbsp;&nbsp;&nbsp;&nbsp;<button id="autoRefresh" class="refreshOn">关闭</button></p>
        <HR>

        <div>
        <p id="blackListTitle"><b>未提交分支申请：</b>
        <button id='slideAll'>展开</button></p>
        <ul>
            {% for i in blackList %}
                {% if "," in i.info %}
                {% else %}
                    <li class="blackList">
                        <div class="flip">{{ i.info }}</div>
                        <div class="panel"><pre>{{ i.log }}</pre></div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p><b>写错 Branch Revision：</b></p>
        <ul>
            {% for i in wrongList %}
                <li class="wrongList">{{ i.revision }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://192.168.5.143/urtracker/Pts/{{ i.url }}">点击查看</a></li>
            {% endfor %}
        </ul>

        <HR>
        <p><b>测试/修改中：</b>
        <ul>
            {% for i in testingList %}
                <li><a href="http://192.168.5.143/urtracker/Pts/{{ i.url }}">{{ i.title }}</a></li>
            {% endfor %}
        </ul>

        <HR>
        <p><b>待制作版本({{ todoList|length }})：</b>
        <div>
        <p align="center" id="todoListTask">{{ todoListTask }}</p>
        <p align="center">筛选&nbsp;&nbsp;<input type="text" name="filter" id="filterInput" maxlength="10"></p>
        </div>
        <p> 
            {% for i in todoList %}
                <label class='{{ i.task }}'>{{ i.revision }},</label>
            {% endfor %}
        </p>

        <HR>
        <p><b>更新时间：{{ modTime }}</b></p>
        </div>

<!-- <div id="flip">Click to slide the panel down or up</div>
<div id="panel">Hello world!</div>
 -->
        <div>
<!--         <p><a href="https://github.com/ROOOO/PGTools"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" height="88" width="88"></a></p> -->
        </div>
    <body>
<html>
