<!-- author: King -->

<html>
    <title>
    	{{ title }}
    </title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% load staticfiles %}
        <script src="{% static 'Common/jquery-1.4.min.js' %}"></script>
        <script src="{% static 'Javascript/URTracker_SVN.js' %}"></script>
        <link href="/static/CSS/URTracker_SVN.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <p>每30秒页面自动刷新&nbsp;&nbsp;&nbsp;&nbsp;<button id="autoRefresh" class="refreshOn">关闭</button></p>
        <HR>

        <div>
        <p id="blackListTitle"><b>未提交分支申请：</b>
        <button id='slideAll'>展开</button></p>
        <ul>
            {% for i in blackList %}
                <li class="blackList">
                    <div class="flip">{{ i.0 }} {{ i.1 }} {{ i.2 }}</div>
                    <div class="panel"><pre>{{ i.3 }}</pre></div>
                </li>
            {% endfor %}
        </ul>
        <p><b>写错 Branch Revision：</b></p>
        <ul>
            {% for i in wrongList %}
                <li class="wrongList">{{ i.0 }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://proxy.pixelgame.net:8080/urtracker/Pts/{{ i.1 }}">点击查看</a></li>
            {% endfor %}
        </ul>

        <HR>
        <p><b>"修改中"：</b>
        <ul>
            {% for i in modifyingList %}
                <li><a href="http://proxy.pixelgame.net:8080/urtracker/Pts/{{ i.0 }}">{{ i.1 }}</a></li>
            {% endfor %}
        </ul>
        <p><b>"分支验证"：</b>
        <ul>
            {% for i in testingList %}
                <li><a href="http://proxy.pixelgame.net:8080/urtracker/Pts/{{ i.0 }}">{{ i.1 }}</a></li>
            {% endfor %}
        </ul>

        <HR>
        <p><b>待制作版本({{ todoList|length }})：</b>
        <div>
        <pre align="center" id="todoListTask">{{ todoListTask }}</pre>
        <p align="center">筛选&nbsp;&nbsp;<input type="text" name="filter" id="filterInput" maxlength="10"></p>
        </div>
        <p> 
            {% for i in todoList %}
                <label class='{{ i.1 }}'><a href="http://proxy.pixelgame.net:8080/urtracker/Pts/{{ i.2 }}">{{ i.0 }}</a>,</label>
            {% endfor %}
        </p>

        <HR>
        <p><b>更新时间：{{ modTime }}</b></p>
        </div>

<!-- <div id="flip">Click to slide the panel down or up</div>
<div id="panel">Hello world!</div>
 -->
        <div>
<!--         <p><a href="https://github.com/ROOOO/PGTools"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" height="88" width="88"></a></p> -->
        </div>
    <body>
<html>
